.App {
  text-align: center;

  
}
.whole1{
  background-color: black;
  width: max-content;
  height: max-content;
  
}

.list1{
  display: flex;
  position: relative;
  
  text-align: center;
  margin-bottom: 10px;
}
.delbut{
  position: relative;
  left:"45px";
  align-items:center;
  background-color: beige;
}
.clearbut{
  display: flex;
  position: relative;
  left: 18%;
  text-align: center;
  align-items: center;
  background-color: beige;
}
.whole{
  border: 1px solid black;
  position: absolute;
  left:37%;
  margin-top: 150px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: rgb(178, 254, 0);
  
}
.addbut{
  background-color: beige;
}